body {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    background-color: white;
}

.links__item {
    display: block;
    font-size: 20px;
    line-height: 2.5;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    color: white;
    border: 2px solid black;
    max-width: 750px;
    margin: auto;
    margin-bottom: 5px;
    font-family: Poppins, sans-serif;
    background-color: black;
    border-radius: 10px;
}

.links__item :hover {
    background-color: white;
    color: black;
    letter-spacing: 3px;
    font-weight: bolder;
}

#mylinks {
    font-family: Poppins, sans-serif;
    font-size: 10vw;
    margin-top: 1vw;
}

.logo {
    width: 130px;
    height: 130px;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 50%;
}
