body {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    background-image: url("https://studywithme.io/aesthetic-pomodoro-timer/8c50f8e334f43eee3272.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
}

.links__item {
    display: block;
    font-size: 20px;
    line-height: 2.5;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    color: #4a9ec5;
    border: 2px solid #1b233d;
    max-width: 750px;
    margin: auto;
    font-family: Poppins, sans-serif;
    background-color: #1b233d;
    border-radius: 10px;
}

.links__item :hover {
    background-color: #4a9ec5;
    color: #1b233d;
    font-weight: bolder;
}

#mylinks {
    font-family: Poppins, sans-serif;
    font-size: 10vw;
    margin-top: 1vw;
}

.logo {
    width: 130px;
    height: 130px;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 5px solid #1b233d;
    transition: all 0.1s ease-in-out;
}

.logo:hover {
    border: 5px solid #4a9ec5;
}
