:root {
     --bg-color: rgb(255, 255, 255);
     --primary-text-color: rgb(10, 10, 10); /* rgb(255, 255, 255);*/
     --secondary-text-color: rgb(20, 20, 20); /*rgb(210, 210, 210);*/
     --font: "Poppins", sans-serif;
}

body {
     background: var(--bg-color);
     justify-content: center;
     display: flex;
     transition: ease-in 0.2s;
     /*
     margin: 0;
     padding: 0;
     min-height: 100vh;
     */
}

body.dark {
     --bg-color: rgb(10, 10, 10);
     --primary-text-color: rgb(255, 255, 255);
     --secondary-text-color: rgb(210, 210, 210);
     --font: "Poppins", sans-serif;
}

::selection {
     color: rgb(10, 10, 10);
}

#theme-toggler {
     position: fixed;
     font-family: var(--font);
     color: var(--secondary-text-color);
     cursor: pointer;
     bottom: 20px;
     /*text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);*/
}

h1 {
     font-size: 100px;
     color: var(--primary-text-color);
     font-family: var(--font);
     top: 20%;
     position: absolute;
}

#coming-soon {
     position: absolute;
     font-size: 35px;
     font-family: var(--font);
     color: var(--secondary-text-color);
     top: 45%;
}

#social-media {
     position: absolute;
     bottom: 33%;
     font-size: 35px;
}
a {
     text-decoration: none;
     color: var(--secondary-text-color);
}
a:visited {
     text-decoration: none;
     color: var(--secondary-text-color);
}
a:hover {
     text-decoration: none;
     color: var(--secondary-text-color);
}
a:focus {
     text-decoration: none;
     color: var(--secondary-text-color);
}
a:hover,
a:active {
     text-decoration: none;
     color: var(--secondary-text-color);
}

.fa-github {
     color: var(--secondary-text-color);
}
.fa-github:hover {
     color: #5970d4;
     transition: ease-in 0.2s;
}

.fa-twitter {
     color: var(--secondary-text-color);
     transition: ease-in 0.2s;
}
.fa-twitter:hover {
     color: #00acee;
     transition: ease-in 0.2s;
}

.fa-instagram {
     color: var(--secondary-text-color);
     transition: ease-in 0.2s;
}
.fa-instagram:hover {
     color: #bc2a8d;
     transition: ease-in 0.2s;
}

.fa-discord {
     color: var(--secondary-text-color);
     transition: ease-in 0.2s;
}

.fa-discord:hover {
     color: #5865f2;
     transition: ease-in 0.2s;
}

.fa-youtube-play {
     color: var(--secondary-text-color);
     transition: ease-in 0.2s;
}
.fa-youtube-play:hover {
     color: #ff0000;
     transition: ease-in 0.2s;
}
