body {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    background-image: url("./assets/bg_3.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.links__item {
    display: block;
    font-size: 20px;
    line-height: 2.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #000000;
    border: 2px solid #ffffff00;
    max-width: 750px;
    margin: auto;
    font-family: DM Serif Display, sans-serif;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.links__item :hover {
    background-color: #f1f1f1;
    color: #000000;
    border: 2px solid #ffffff00;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    letter-spacing: 0.5px;
    /* Standard syntax */
}

#mylinks {
    font-family: DM Serif Display, sans-serif;
    font-size: 10vw;
    margin-top: 1vw;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.subtitle {
    align-content: center;
    color: #ffffff;
    font-family: sans-serif;
    margin-bottom: 30px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}